<%# Adding Header Temlate %>
<%- include("partials/header") -%>

<!-- Title Heading -->
<div class="heading-box" data-aos="fade-right">
  <h1>Miscellaneous List<br><%= today %></h1>
</div>

<!-- Main List -->
<div class="box">
  <%  miscellaneousItems.forEach(function(miscellaneousItem){ %>
      <div class="item">
        <input type="checkbox" name="deleteItem" >
        <p><%= miscellaneousItem %></p>
      </div>
  <% }); %>

  <form class="item" action="/miscellaneous" method="post">
    <input type="text" name="newTask" placeholder="Create New Task" required>
    <button type="submit">+</button>
  </form>
</div>

<!-- Adding Footer Template -->
<%- include("partials/footer") -%>
